.git
.github
.idea
.junie
.pi
.zed
.agents
.ai
node_modules
vendor
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
docs
*.md
.env
.env.*
docker-compose*.yml
docker-compose*.yaml
compose*.yaml
compose*.yml
Dockerfile
docker/nginx
docker/*.yml
docker/*.yaml
.phpunit.result.cache
phpstan.neon
pint.json
.gitattributes
.gitignore
.editorconfig
.npmrc
.mcp.json
opencode.json
vite.config.js
package.json
package-lock.json
